<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		{{#each css}}
        <link rel="stylesheet" href="/css/{{this}}">
    {{/each}}
		<title>Articles</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>		{{!-- <script src="/assets/js/cats.js"></script> --}}
	<script src="../../app.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
